/ Declare Variable
- width = '100'
- height = '70'
.blog
    .blog-type
        .popular.active Popular
        .recent Most Recent
    .popular-posts
        .post
            %img{"src"=>"http://lorempixel.com/#{width}/#{height}/technics/5"}
            .post-meta
                .tag City &nbsp;|
                .category Posted 12 Hours Ago
            %h1.title
                Zuckerberg Called Obama to Express Frustration
        .post
            %img{"src"=>"http://lorempixel.com/#{width}/#{height}/nightlife"}
            .post-meta
                .tag Nightlife &nbsp;|
                .category Posted 12 Hours Ago
            %h1.title
                Bill Gates Says Microsoft was Willing to Acquire WhatsApp
        .post
            %img{"src"=>"http://lorempixel.com/#{width}/#{height}/food"}
            .post-meta
                .tag Food &nbsp;|
                .category Posted 12 Hours Ago
            %h1.title
                Facebook Introduces 15-Second Video Ads
        .post
            %img{"src"=>"http://lorempixel.com/#{width}/#{height}/technics"}
            .post-meta
                .tag Technology &nbsp;|
                .category Posted 12 Hours Ago
            %h1.title
                Flight for iPhone: Gorgeous Flight Status App With Weather
        .post
            %img{"src"=>"http://lorempixel.com/#{width}/#{height}/transport"}
            .post-meta
                .tag Transport &nbsp;|
                .category Posted 12 Hours Ago
            %h1.title
                Netflix Unveils New TV Originals Puss In Boots and King Julien
    .recent-posts.hide
        .post
            %img{"src"=>"http://lorempixel.com/#{width}/#{height}/fashion"}
            .post-meta
                .tag Fashion &nbsp;|
                .category Posted 12 Hours Ago
            %h1.title
                Why You Should Invest in Life Experiences
        .post
            %img{"src"=>"http://lorempixel.com/#{width}/#{height}/business"}
            .post-meta
                .tag Business &nbsp;|
                .category Posted 12 Hours Ago
            %h1.title
                'Wonder' is a New Ad-free Video Platform for Lifestyle Content
        .post
            %img{"src"=>"http://lorempixel.com/#{width}/#{height}/animals"}
            .post-meta
                .tag Animals &nbsp;|
                .category Posted 12 Hours Ago
            %h1.title
                Amazon AppStream Is Now Open To All Developers
        .post
            %img{"src"=>"http://lorempixel.com/#{width}/#{height}/people"}
            .post-meta
                .tag People &nbsp;|
                .category Posted 12 Hours Ago
            %h1.title
                Google Street View Captures Colorado River
        .post
            %img{"src"=>"http://lorempixel.com/#{width}/#{height}/nature"}
            .post-meta
                .tag Nature &nbsp;|
                .category Posted 12 Hours Ago
            %h1.title
                Steller Is A Beautiful Visual Storytelling App For iPhone
.content
    .image
        %img{"src"=>"http://lorempixel.com/900/300/technics/4"}
    %h1 Zuckerberg Called Obama to Express Frustration
    %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat facere recusandae ipsam quae pariatur possimus rerum cupiditate voluptas sint quam quaerat ducimus eos reiciendis aperiam doloribus aut ex impedit officiis quod mollitia libero velit cumque a saepe nemo voluptates at illo natus ab delectus placeat earum qui labore. Dolores magnam.
    %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat facere recusandae ipsam quae pariatur possimus rerum cupiditate voluptas sint quam quaerat ducimus eos reiciendis aperiam doloribus aut ex impedit officiis quod mollitia libero velit cumque a saepe nemo voluptates at illo natus ab delectus placeat earum qui labore. Dolores magnam.
    .image
        %img{"src"=>"http://lorempixel.com/900/300/technics/5"}
    %h1 Bill Gates Says Microsoft was Willing to Acquire WhatsApp
    %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat facere recusandae ipsam quae pariatur possimus rerum cupiditate voluptas sint quam quaerat ducimus eos reiciendis aperiam doloribus aut ex impedit officiis quod mollitia libero velit cumque a saepe nemo voluptates at illo natus ab delectus placeat earum qui labore. Dolores magnam.
    %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat facere recusandae ipsam quae pariatur possimus rerum cupiditate voluptas sint quam quaerat ducimus eos reiciendis aperiam doloribus aut ex impedit officiis quod mollitia libero velit cumque a saepe nemo voluptates at illo natus ab delectus placeat earum qui labore. Dolores magnam.
    .image
        %img{"src"=>"http://lorempixel.com/900/300/technics/6"}
    %h1 Facebook Introduces 15-Second Video Ads
    %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat facere recusandae ipsam quae pariatur possimus rerum cupiditate voluptas sint quam quaerat ducimus eos reiciendis aperiam doloribus aut ex impedit officiis quod mollitia libero velit cumque a saepe nemo voluptates at illo natus ab delectus placeat earum qui labore. Dolores magnam.
    %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat facere recusandae ipsam quae pariatur possimus rerum cupiditate voluptas sint quam quaerat ducimus eos reiciendis aperiam doloribus aut ex impedit officiis quod mollitia libero velit cumque a saepe nemo voluptates at illo natus ab delectus placeat earum qui labore. Dolores magnam.